<h1>Pirate!</h1>
<p>Name: <%= @pirate.name %> </p>
<p>Name: <%= @pirate.weight %> </p>
<p>Name: <%= @pirate.height %> </p>

<h2>First Ship</h2>
<% @ships.each.with_index do |ship, index| %>
      <% if index == 0 %>
      <p>Name: <%= ship.name%></p><br>
      <p>Type: <%= ship.type %></p><br>
      <p>Booty: <%= ship.booty%></p><br>
      <% end %>
    <% end %>

<h2>2nd Ship</h2>
<% @ships.each.with_index do |ship, index| %>
      <% if index == 1 %>
      <p>Name: <%= ship.name %></p><br>
      <p>Type: <%= ship.type %></p><br>
      <p>Booty: <%= ship.booty %></p><br>
      <% end %>
    <% end %>